<!-- Main Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="/">COMP229</a> -->
    
    <div>
      <img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.15752-9/310124724_614201740250735_2999828675580748653_n.png?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=XGOHKla4sYQAX-YC4cB&_nc_ht=scontent-yyz1-1.xx&oh=03_AVJT3ZEI4DGg0tqHyWuJbaigomMEkLzd54VjZ26JfWO5jA&oe=636BD1F0"  width="100px" height="50px">
   </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% if (title == "Home"){ %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
        </li>

        <% if (title == "About") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About </a>
        </li>

        <% if (title == "Products") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/products"><i class="fab fa-elementor"></i> Products </a>
        </li>

        <% if (title == "Services") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/services"><i class="fas fa-cogs"></i> Services </a>
        </li>

        <% if (title == "Contact") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/contact"><i class="fas fa-mobile-alt"></i> Contact </a>
        </li>
    </div>
  </nav>