<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>
    </head>
    <%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
    <body>
      <div style="display:flex; margin-top: 20px; width:fit-content;">
         <div>
            <img src="https://scontent-ord5-1.xx.fbcdn.net/v/t39.30808-6/274535645_3216526561911749_206756211114383776_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=G5nBecKdeAsAX9va_Rd&_nc_ht=scontent-ord5-1.xx&oh=00_AT-3pY8u1adJeWRL97YhVyqOFxL8Qf36LkgzFutuQAIPnA&oe=634405E5"  width="500" height="333">
         </div>
         <div style="margin-left: 30px">
            <P style="font-size: 30px"> Myself Harsh Sharma. Currently I am studying in Centennial college and involed in the program of Software Engineering Technology - AI. This is my first year in college. Previously I was living in India and over there I have completed my BTECH and having  6 months of IT compnay experience.</P>
         </div>
      </div>
      
    </body>
    <%- include partials/bottom_nav.ejs %>  
    <%- include partials/footer.ejs %>
</html>