<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1>Introduction</h1>
      <p class="display-4" style="font-size: 20px">I am Harsh Sharma. Welcome to my blog this is my very first time I'm working on a website.In this blog I have mention the project which I have done and also the services which I am being using in that particular project.</p>
      
    </div>
    <div class="jumbotron">
      <h1>Mission</h1>
      <p class="display-4" style="font-size: 20px">I always wanted to do proggramming but I was never focused on a proggraming, because my course was Electronics and communication Engineering and there was not any core programming, so I'm starting from here and wants to improve myself in coding.</p>
      
    </div>
    <div class="jumbotron">
      <p class="display-4" style="font-size: 20px">Thanks for reading</p>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




